<div
  class="bg-page py-24 lg:py-36 px-8 sm:px-16 lg:px-32 xl:px-64 overflow-x-hidden">
  <div class="flex flex-col gap-8">
    <div>
      <div class="mb-6">
        <h1 class="page-title">Doblaje y locución</h1>
        <span class="page-title-dash" aria-hidden="true"></span>
      </div>
      <h2 class="section-title mb-4">Doblaje</h2>
      <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8 lg:gap-20 lg:mb-12">

        <div class="shadow-md w-full max-w-[1280px]">
          <app-vimeo-facade videoId="715325007" hash="030a97a869"
            poster="https://i.vimeocdn.com/video/1441720619-5fd0a1f74b3eb2e2f9de40ac3b35bb8d9f6f493d80d97b69fb95e982e9fe18ff-d_1920?region=us"
            title="Demo de doblaje de Pilar Blanco" [priority]="true" />
        </div>

        <div class="shadow-md w-full max-w-[1280px]">
          <app-vimeo-facade videoId="994004071" hash="93da72042a"
            poster="https://i.vimeocdn.com/video/1910003369-91899f3ad7db92b17e227f1bc2c828c30015f204277ec6f55bbab8d968e48de8-d_1920?region=us"
            title="Demo de doblaje de Pilar Blanco" />
        </div>

      </div>
    </div>

    <div>
      <div class="mb-6">
        <h2 class="section-title">Locución</h2>
      </div>
      <div class="flex items-center justify-around w-full">
        <app-cassette></app-cassette>
      </div>
    </div>
  </div>
</div>
