.hero-container {
  background-color: #5c5c5c;
}

.hero-cover {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
}

.hero-cover.is-active {
  opacity: 1;
}

@media (scripting: none) {
  .hero-cover {
    opacity: 1;
  }
}

.dynamic-text-glow {
  background-image: linear-gradient(
    90deg,
    transparent 10%,
    oklch(var(--p) / 0.8) 45%,
    oklch(var(--p)) 50%,
    oklch(var(--p) / 0.8) 55%,
    transparent 90%
  );
}
