<div class="fondo bg-[url('assets/images/Fondo.jpg')] bg-no-repeat bg-cover bg-right w-screen h-screen p-16 flex items-end">
  <div class="grid grid-rows-3 h-full">
    <div></div>
    <div class="text-white w-min flex flex-col justify-center">
      <div class="lato-light text-6xl">
        <p>PILAR</p>
        <p>BLANCO</p>
      </div>
      <div class="bg-sky-300 w-full min-h-1 rounded-full my-6"></div>
      <p class=" font-sans font-semibold text-lg">ACTRIZ</p>
    </div>
    <div class="flex items-end">
      <object data="assets/svgIcons/play.svg" type="image/svg+xml" class="w-14 h-14"></object>
    </div>
  </div>
</div>
