rect {
  fill: oklch(var(--p));
}

.mid-rect {
  fill: oklch(var(--s));
}

.shadow {
  filter: url(#shadow);
}

.shadow-2 {
  filter: url(#shadow-2);
}

.spin {
  transform-origin: center;
  transform-box: fill-box;
  animation: rotate-wheel 8s infinite linear;
}

@keyframes rotate-wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  position: relative;
  width: 450px;
  height: 10vh;
  text-align: center;
  font-size: 18px;
}


app-icon {
  font-size: 28px;
}

app-icon.music {
  font-size: 15px;
}
