<div
  class="bg-gradient-to-tr from-zinc-400 via-neutral-500 to-neutral-600 w-screen py-24 lg:py-36 px-8 sm:px-16 lg:px-32 xl:px-64 overflow-x-hidden flex flex-col gap-6 md:gap-8 xl:gap-10 items-center">
  <div class="w-full">
    <h2 class="lato-regular text-xl sm:text-2xl md:text-4xl text-white">Curriculum</h2>
    <div class="w-full h-0.5 rounded-full bg-orange-500 mt-2"></div>
  </div>
<app-download-cv-btn/>
<img src="assets/CV.jpg" alt="curriculum" class="max-w-4xl w-full shadow-md">
</div>
