<app-burguer-menu-btn class="absolute top-16 left-16 z-20" (click)="toggleSideNav()" />

<div id="sideNav" class="absolute top-0 -left-[460px] w-[460px] h-screen bg-gray-200 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30 border-r-2 border-orange-500 flex items-center
  transition-all duration-500">
  <div class="flex flex-col gap-y-10 text-3xl lato-regular ml-16 text-zinc-900">
    <a href="#" [routerLink]="['/']" routerLinkActive="text-orange-600"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Inicio</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Videos</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Galería</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Proyectos</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Voz</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Video</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">CV</a>
    <a href="#" [routerLink]="['/routePath']" routerLinkActive="text-orange-500"
      class="drop-shadow-lg hover:text-sky-300 transition-colors duration-300">Contacto</a>

  </div>
</div>
