<div
  class="bg-gradient-to-tr from-zinc-400 via-neutral-500 to-neutral-600 w-screen py-24 lg:py-36 px-8 sm:px-16 lg:px-32 xl:px-64 overflow-x-hidden flex flex-col gap-10">
  <div>
    <h2 class="lato-regular text-xl sm:text-2xl md:text-4xl text-white">Mi trayectoria</h2>
    <div class="w-full h-0.5 rounded-full bg-orange-500 mt-2"></div>
  </div>

  <div
    class="text-lg md:text-xl lg:text-2xl text-zinc-800 lato-regular flex flex-col gap-4 md:gap-6 lg:gap-8 drop-shadow p-8 md:p-16 lg:p-20 bg-zinc-100">
    <p class="leading-7 md:leading-8 lg:leading-9 text-justify">
      Actriz, locutora y profesora de interpretación para jóvenes,
      comencé mi andadura profesional a finales de los 80 en la compañía <i>Metronomoteatro</i> -<b>laboratorio de
        investigación teatral</b>- de la que formé parte como <b>actriz</b> y en la <b>creación</b> de montajes como
      Repris (Premio
      nacional de teatro de vanguardia 1991) y <i>Memoria</i> y como actriz en <i>El destrozo de mi cuerpo</i>. En esta
      época hago mi
      primera incursión en <b>televisión</b> en la serie Plaza Alta.
    </p>

    <p class="leading-7 md:leading-8 lg:leading-9 text-justify">
      Me alejé unos años de la interpretación, a la búsqueda de la seguridad económica (¿os suena?) siempre cerca de lo
      creativo, trabajo entre otras cosas, como <b>locutora y redactora</b> en el programa <i>A vivir que son dos días</i> en la
      Cadena Ser Costa del Sol e incluso me atreví a hacer una breve incursión en la música como vocalista de un grupo
      de pop-rock. <b>Fue inevitable</b> volver con más ganas si cabe, ahora explorando el audiovisual pero sin dejar del todo el teatro ni la formación, empezando <b>desde cero</b> en la Serie <b>Arrayán</b>.
    </p>

    <p class="leading-7 md:leading-8 lg:leading-9 text-justify">
      A partir de ahí he participado numerosos cortometrajes y <b>proyectos audiovisuales</b> protagonizando varios de ellos. Trabajé en la serie <i>Rabia</i> de Mediaset y en el largometraje  <b><i>Rey Gitano</i></b> de Juanma Bajo Ulloa y formé parte del reparto del mediometraje <i>Por las nubes</i>, dirigido por Fernando Colomo y con guión de Belén Sánchez Arévalo y el resto de alumnos del curso de Netflix-Aisge. He protagonizado y participado también en numerosos <b>spots</b> publicitarios.
    </p>

    <p class="leading-7 md:leading-8 lg:leading-9 text-justify">
      Durante estos años no he dejado de trabajar, de formarme y de entrenar; <b>en cine</b> con Fernando Colomo, Enrique García, Macarena Astorga, Antonio Hens, Yeandro Tamayo y Raquel Toledo, entre otros. En <b>técnica vocal</b> y dicción con Julia Oliva, en <b>doblaje y locución</b> en la Escuela de Luisa Ezquerra. En teatro técnica Chejov con Sol Garre y teatro con R. Torán y F. Corpas. En lo relacionado con la <b>docencia</b> para niñas, niños y jóvenes, con Alfredo Mantovani Dramática creativa y Juego dramático.
    </p>

    <p class="leading-7 md:leading-8 lg:leading-9 lato-regular-italic">
      Continuará…
    </p>
  </div>

</div>
